<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/5.9.12/css/aui.min.css" media="all">
    <link rel="stylesheet" href="/github-app.css" media="all">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="<%= session[:fqdn] %>/atlassian-connect/all.js"></script>
  </head>
   <body>
      <div class="ac-content">
        <div class="github-dev-panel">
        <p class="title">
          <li class="list-group-item">
            <b> <%= @repo_name[:full_name] %> </b>
            <li class="list-group-item">
              <%= @icon_svg %>
              Create a branch in <%= @repo_name[:full_name] %> with optional branch name suffix: </br>
              <form accept-charset="UTF-8" action="/create_branch" method="get">
  <!--              <input name="utf8" type="hidden" value="&#x2713;" />-->
  <!--              <label for="suffix"></label>-->
                <input id="suffix" name="suffix" type="text" value="<%= @default_branch_suffix %>"/>
                <input name="commit" type="submit" value="Create" />
              </form>
              </br>
            </li>
          </li>
        </p>
        <p>
          <span class="btn"><a href="/logout">clear settings</a></span>
          <span class="btn"><a href="/select_repo">cancel</a></span>
        </p>
        </div>
      </div>
   </body>
</html>
